In [2]:
# pip install pandas

In [2]:
import pandas as pd

In [ ]:
pd.raed_

In [3]:
df = pd.read_csv('Dataset/survey_results_public.csv')

In [8]:

df.tail()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
20,21,I code primarily as a hobby,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,Canada,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
23,24,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
24,25,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult

In [9]:
# df.head()

In [9]:
df.shape

(25, 85)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              25 non-null     int64
 1   MainBranch              25 non-null     object
 2   Hobbyist                25 non-null     object
 3   OpenSourcer             25 non-null     object
 4   OpenSource              25 non-null     object
 5   Employment              23 non-null     object
 6   Country                 25 non-null     object
 7   Student                 23 non-null     object
 8   EdLevel                 24 non-null     object
 9   UndergradMajor          16 non-null     object
 10  EduOther                24 non-null     object
 11  OrgSize                 17 non-null     object
 12  DevType                 22 non-null     object
 13  YearsCode               24 non-null     float64
 14  Age1stCode              25 non-null     int64
 15  YearsCodePro            18 non-null     object
 16  CareerSat               18 non-null     object
 17  JobSat                  18 non-null     object
 18  MgrIdiot                16 non-null     object
 19  MgrMoney                16 non-null     object
 20  MgrWant                 16 non-null     object
 21  JobSeek                 21 non-null     object
 22  LastHireDate            21 non-null     object
 23  LastInt                 17 non-null     object
 24  FizzBuzz                18 non-null     object
 25  JobFactors              21 non-null     object
 26  ResumeUpdate            19 non-null     object
 27  CurrencySymbol          18 non-null     object
 28  CurrencyDesc            18 non-null     object
 29  CompTotal               16 non-null     float64
 30  CompFreq                16 non-null     object
 31  ConvertedComp           16 non-null     float64
 32  WorkWeekHrs             18 non-null     float64
 33  WorkPlan                18 non-null     object
 34  WorkChallenge           14 non-null     object
 35  WorkRemote              18 non-null     object
 36  WorkLoc                 18 non-null     object
 37  ImpSyn                  18 non-null     object
 38  CodeRev                 18 non-null     object
 39  CodeRevHrs              10 non-null     float64
 40  UnitTests               16 non-null     object
 41  PurchaseHow             16 non-null     object
 42  PurchaseWhat            16 non-null     object
 43  LanguageWorkedWith      25 non-null     object
 44  LanguageDesireNextYear  25 non-null     object
 45  DatabaseWorkedWith      21 non-null     object
 46  DatabaseDesireNextYear  21 non-null     object
 47  PlatformWorkedWith      21 non-null     object
 48  PlatformDesireNextYear  22 non-null     object
 49  WebFrameWorkedWith      17 non-null     object
 50  WebFrameDesireNextYear  19 non-null     object
 51  MiscTechWorkedWith      16 non-null     object
 52  MiscTechDesireNextYear  19 non-null     object
 53  DevEnviron              24 non-null     object
 54  OpSys                   25 non-null     object
 55  Containers              23 non-null     object
 56  BlockchainOrg           13 non-null     object
 57  BlockchainIs            14 non-null     object
 58  BetterLife              25 non-null     object
 59  ITperson                25 non-null     object
 60  OffOn                   24 non-null     object
 61  SocialMedia             24 non-null     object
 62  Extraversion            24 non-null     object
 63  ScreenName              22 non-null     object
 64  SOVisit1st              24 non-null     object
 65  SOVisitFreq             25 non-null     object
 66  SOVisitTo               25 non-null     object
 67  SOFindAnswer            25 non-null     object
 68  SOTimeSaved             23 non-null     object
 69  SOHowMuchTime           16 non-null     object
 70  SOAccount               25 non-null     object
 71  SOPartFreq              21 non-null     object
 72  SOJobs                  25 non-null     object
 73  EntTeams                25 non-null     object
 74  SOComm                  25 non-null     object
 75  WelcomeChange           25 non-null     object
 76  SONewContent            20 non-null     object
 77  Age                     22 non-null     float64
 78  Gender                  24 non-null     object
 79  Trans                   24 non-null     object
 80  Sexuality               22 non-null     object
 81  Ethnicity               18 non-null     object
 82  Dependents              24 non-null     object
 83  SurveyLength            25 non-null     object
 84  SurveyEase              25 non-null     object
dtypes: float64(6), int64(2), object(77)
memory usage: 16.7+ KB

In [14]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

# Dataframe

In [11]:
person = {
    "first" : ["ram","hari","sita"],
    "last" : ["adhikari","kuwar","gurung"],
    "email" : ["ram@gmail.com","hari@gmail.com","sita@gmail.com"]
}

In [12]:
user_define = pd.DataFrame(person)

In [13]:
user_define

  first      last           email
0   ram  adhikari   ram@gmail.com
1  hari     kuwar  hari@gmail.com
2  sita    gurung  sita@gmail.com

In [14]:
user_define.to_csv("user.csv")

In [21]:
# access data
# user_define['email']
user_define.email

0     ram@gmail.com
1    hari@gmail.com
2    sita@gmail.com
Name: email, dtype: object

In [20]:
# type
type(user_define['email'])

pandas.core.series.Series

In [23]:
user_define.count()

first    3
last     3
email    3
dtype: int64

In [24]:
# specific column or multiple columns
user_define[['first','email']]

  first      last
0   ram  adhikari
1  hari     kuwar
2  sita    gurung

In [15]:
# column
user_define.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
# iloc -> integer location ,  detail of first
user_define.iloc[0]
# user_define.iloc[[0,1]]

first              ram
last          adhikari
email    ram@gmail.com
Name: 0, dtype: object

In [17]:
user_define.loc[[0,1],['email','last']]

            email      last
0   ram@gmail.com  adhikari
1  hari@gmail.com     kuwar

In [33]:
df['Hobbyist'].value_counts()

Hobbyist
Yes    19
No      6
Name: count, dtype: int64

In [38]:
df.loc[[0,1,2],['Hobbyist']]
# slicing
df.loc[0:2,'Hobbyist':"Employment"]

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time

In [18]:
# index
user_define.set_index('email')
user_define.set_index('email',inplace=True)

In [21]:
user_define.index

RangeIndex(start=0, stop=3, step=1)

In [46]:
user_define.loc['ram@gmail.com']

first         ram
last     adhikari
Name: ram@gmail.com, dtype: object

In [20]:
user_define.reset_index(inplace=True)

In [48]:
user_define

            email first      last
0   ram@gmail.com   ram  adhikari
1  hari@gmail.com  hari     kuwar
2  sita@gmail.com  sita    gurung

In [23]:
user_define.sort_index(ascending=False)

            email first      last
2  sita@gmail.com  sita    gurung
1  hari@gmail.com  hari     kuwar
0   ram@gmail.com   ram  adhikari